<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ </b>

–ù–∞—Å—Ç—è, –≤–∏–∂—É, —á—Ç–æ –≤ —Ç–≤–æ—ë–º –ø—Ä–æ–µ–∫—Ç–µ –Ω–µ—Ç –∑–∞–¥–∞—á –ø—Ä–æ–µ–∫—Ç–∞ - –≤—ã–ø–æ–ª–Ω–µ–Ω —Ç–æ–ª—å–∫–æ –æ—Å–º–æ—Ç—Ä –¥–∞–Ω–Ω—ã—Ö, –Ω–æ —Å–∞–º–∏ –∑–∞–¥–∞–Ω–∏—è –Ω–µ —Ä–µ—à–µ–Ω—ã. –í–æ–∑–≤—Ä–∞—â–∞—é —Ç–µ–±–µ –ø—Ä–æ–µ–∫—Ç –±–µ–∑ –ø—Ä–æ–≤–µ—Ä–∫–∏ - –¥–æ–ø–æ–ª–Ω–∏ –µ–≥–æ, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –∑–∞–¥–∞–Ω–∏—è–º–∏ –∏–∑ —É—Å–ª–æ–≤–∏–π –ø—Ä–æ–µ–∫—Ç–∞. 
    
–ü—Ä–æ–≤–µ—Ä–∫—É –ø—Ä–æ–¥–æ–ª–∂–∏–º, –∫–æ–≥–¥–∞ –æ–Ω –±—É–¥–µ—Ç –≤—ã–ø–æ–ª–Ω–µ–Ω —Ü–µ–ª–∏–∫–æ–º.

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–û—á–µ–Ω—å —Å—Ç—Ä–∞–Ω–Ω–æ, –æ–Ω–∏ –Ω–µ —Å–æ—Ö—Ä–∞–Ω–∏–ª–∏—Å—å(
–ü—Ä–æ–≤–µ—Ä–∏–ª–∞ –µ—â–µ —Ä–∞–∑ –ø–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π.
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–Ω–æ–≥–¥–∞ –ø–ª–∞—Ç—Ñ–æ—Ä–º–∞ –Ω–µ —Å–æ—Ö—Ä–∞–Ω—è–µ—Ç –∏–∑–º–µ–Ω–µ–Ω–∏—è, —Ç–∞–∫–æ–µ –±—ã–≤–∞–µ—Ç:)

# SQL

–ö–æ—Ä–æ–Ω–∞–≤–∏—Ä—É—Å –∑–∞—Å—Ç–∞–ª –º–∏—Ä –≤—Ä–∞—Å–ø–ª–æ—Ö, –∏–∑–º–µ–Ω–∏–≤ –ø—Ä–∏–≤—ã—á–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –≤–µ—â–µ–π. –í —Å–≤–æ–±–æ–¥–Ω–æ–µ –≤—Ä–µ–º—è –∂–∏—Ç–µ–ª–∏ –≥–æ—Ä–æ–¥–æ–≤ –±–æ–ª—å—à–µ –Ω–µ –≤—ã—Ö–æ–¥—è—Ç –Ω–∞ —É–ª–∏—Ü—É, –Ω–µ –ø–æ—Å–µ—â–∞—é—Ç –∫–∞—Ñ–µ –∏ —Ç–æ—Ä–≥–æ–≤—ã–µ —Ü–µ–Ω—Ç—Ä—ã. –ó–∞—Ç–æ —Å—Ç–∞–ª–æ –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è –∫–Ω–∏–≥. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–í–∞—à–∞ –∫–æ–º–ø–∞–Ω–∏—è —Ä–µ—à–∏–ª–∞ –±—ã—Ç—å –Ω–∞ –≤–æ–ª–Ω–µ –∏ –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –í–∞—à–∞ –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.
–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

### –ó–∞–¥–∞–Ω–∏—è

- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
- –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫.

### –ö–∞–∫ –≤—ã–ø–æ–ª–Ω–∏—Ç—å –∑–∞–¥–∞–Ω–∏–µ?

- –û–ø–∏—à–∏—Ç–µ —Ü–µ–ª–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è;
- –ò—Å—Å–ª–µ–¥—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—ã ‚Äî –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏;
- –°–¥–µ–ª–∞–π—Ç–µ –ø–æ –æ–¥–Ω–æ–º—É SQL-–∑–∞–ø—Ä–æ—Å—É –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è;
- –í—ã–≤–µ–¥–∏—Ç–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∫–∞–∂–¥–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞ –≤ —Ç–µ—Ç—Ä–∞–¥–∫–µ;
- –û–ø–∏—à–∏—Ç–µ –≤—ã–≤–æ–¥—ã –ø–æ –∫–∞–∂–¥–æ–π –∏–∑ —Ä–µ—à—ë–Ω–Ω—ã—Ö –∑–∞–¥–∞—á.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –•–æ—Ä–æ—à–µ–µ –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ!
    
–í –Ω—ë–º –µ—Å—Ç—å –≤—Å—ë, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ —Å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç—á—ë—Ç–∞!

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import text, create_engine

# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{user}:{pwd}@{host}:{port}/{db}'.format(**db_config)

# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
query = '''SELECT * FROM books LIMIT 5'''

con=engine.connect()

pd.io.sql.read_sql(sql=text(query), con = con)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ë–ª–æ–∫ –∑–∞–≥—Ä—É–∑–∫–∏ –±–∏–±–ª–∏–æ—Ç–µ–∫ –ª—É—á—à–µ —Ä–∞–∑–º–µ—â–∞—Ç—å –≤ –æ—Ç–¥–µ–ª—å–Ω–æ–π –æ—Ç –æ—Å—Ç–∞–ª—å–Ω–æ–≥–æ –∫–æ–¥–∞ —è—á–µ–π–∫–µ. –¢–∞–∫–æ–π –ø–æ–¥—Ö–æ–¥ –ø–æ–∑–≤–æ–ª–∏—Ç —É–ª—É—á—à–∏—Ç—å —á–∏—Ç–∞–µ–º–æ—Å—Ç—å –∫–æ–¥–∞, —Å–Ω–∏–∑–∏—Ç –≤—Ä–µ–º—è –ø–æ–∏—Å–∫–∞ –æ—à–∏–±–æ–∫ (–µ—Å–ª–∏ –æ–Ω–∏ –µ—Å—Ç—å) –∏ –∏—Å–∫–ª—é—á–∏—Ç –ø–æ–≤—Ç–æ—Ä–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∫–æ–¥–∞.
        </div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 

–Ø –≤–∏–∂—É, –∏—Å–ø–æ–ª–Ω–µ–Ω–∏–µ —Ç–≤–æ–µ–≥–æ –∫–æ–¥–∞ –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è –≤ —è—á–µ–π–∫–µ —Å –Ω–æ–º–µ—Ä–æ–º, –∫–æ—Ç–æ—Ä—ã–π –æ—Ç–ª–∏—á–∞–µ—Ç—Å—è –æ—Ç –µ–¥–∏–Ω–∏—Ü—ã. –ü–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π –ø—Ä–æ–µ–∫—Ç–∞ —Å—Ç–æ–∏—Ç –ø—Ä–æ–≤–µ—Ä—è—Ç—å —Ä–∞–±–æ—Ç–æ—Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –∫–æ–¥–∞ ‚Äî —ç—Ç–æ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å, –Ω–∞–∂–∞–≤ –Ω–∞ –ø–∞–Ω–µ–ª–∏ Jupiter Hub ``Kernel`` –∏ ``Restart & Run All`` (—Å–º —Å–∫—Ä–∏–Ω—à–æ—Ç –Ω–∏–∂–µ).

![](https://i.postimg.cc/yd19rYf6/Screenshot-428.png)
        
–í–∞–∂–Ω–æ —Ç–∞–∫–∂–µ —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ –≤—Å–µ —è—á–µ–π–∫–∏ –ø—Ä–æ–µ–∫—Ç–∞ –∏—Å–ø–æ–ª–Ω–∏–ª–∏—Å—å - –º–æ–∂–Ω–æ –ø—Ä–æ—Å—Ç–æ –ø—Ä–æ–ª–∏—Å—Ç–∞—Ç—å —Ä–∞–±–æ—Ç—É –¥–æ –∫–æ–Ω—Ü–∞ –∏ —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ –ø–æ—Å–ª–µ–¥–Ω—è—è —è—á–µ–π–∫–∞ –∏—Å–ø–æ–ª–Ω–µ–Ω–∞. –¢–∞–∫–∞—è –ø—Ä–æ–≤–µ—Ä–∫–∞ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ —É–±–µ–¥–∏—Ç—å—Å—è, —á—Ç–æ —Ç–≤–æ—ë —Ä–µ—à–µ–Ω–∏–µ –±—É–¥–µ—Ç –¥–æ–ª–∂–Ω—ã–º –æ–±—Ä–∞–∑–æ–º –≤–æ—Å–ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–æ –≤–æ –≤—Ä–µ–º—è —Ä–µ–≤—å—é –∏–ª–∏ –≤–æ –≤—Ä–µ–º—è –ø–µ—Ä–µ–¥–∞—á–∏ –µ–≥–æ –∑–∞–∫–∞–∑—á–∏–∫—É - —ç—Ç–æ –æ—á–µ–Ω—å –≤–∞–∂–Ω—ã–π —ç—Ç–∞–ø, –ø—Ä–µ–Ω–µ–±—Ä–µ–≥–∞—Ç—å –∫–æ—Ç–æ—Ä—ã–º –Ω–µ —Å—Ç–æ–∏—Ç:)

<div class="alert alert-info">
–ü–æ–Ω—è–ª–∞
</div>

**–¢–∞–±–ª–∏—Ü–∞ books**

In [2]:
query = '''
            SELECT * 
            FROM books
        '''
books = pd.io.sql.read_sql(query, con = engine)
books.head()

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   book_id           1000 non-null   int64
 1   author_id         1000 non-null   int64
 2   title             1000 non-null   object
 3   num_pages         1000 non-null   int64
 4   publication_date  1000 non-null   object
 5   publisher_id      1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

**–¢–∞–±–ª–∏—Ü–∞ authors**

In [4]:
query = '''
            SELECT * 
            FROM authors
        '''
authors = pd.io.sql.read_sql(query, con = engine)
authors.head()

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

In [5]:
authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   author_id  636 non-null    int64
 1   author     636 non-null    object
dtypes: int64(1), object(1)
memory usage: 10.1+ KB

**–¢–∞–±–ª–∏—Ü–∞ ratings**

In [6]:
query = '''
            SELECT * 
            FROM ratings
        '''
ratings = pd.io.sql.read_sql(query, con = engine)
ratings.head()

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6456 entries, 0 to 6455
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  6456 non-null   int64
 1   book_id    6456 non-null   int64
 2   username   6456 non-null   object
 3   rating     6456 non-null   int64
dtypes: int64(3), object(1)
memory usage: 201.9+ KB

**–¢–∞–±–ª–∏—Ü–∞ reviews**

In [8]:
query = '''
            SELECT * 
            FROM reviews
        '''
reviews = pd.io.sql.read_sql(query, con = engine)
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review_id  2793 non-null   int64
 1   book_id    2793 non-null   int64
 2   username   2793 non-null   object
 3   text       2793 non-null   object
dtypes: int64(2), object(2)
memory usage: 87.4+ KB

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –î–∞–Ω–Ω—ã–µ –æ—Å–º–æ—Ç—Ä–µ–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ï—Å—Ç—å –¥—É–±–ª–∏—Ä—É—é—â–∏–π—Å—è –∫–æ–¥ - —Ç—ã –≤—ã–ø–æ–ª–Ω—è–µ—à—å –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –∑–∞–ø—Ä–æ—Å, –º–µ–Ω—è—è –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü. –î–∞–≤–∞–π –ø–æ–ø—Ä–æ–±—É–µ–º –æ—Ä–≥–∞–Ω–∏–∑–æ–≤–∞—Ç—å —ç—Ç–æ—Ç –ø—Ä–æ—Ü–µ—Å—Å —á–µ—Ä–µ–∑ —Ü–∏–∫–ª? –ü–æ–¥—Å—Ç–∞–≤–ª—è—Ç—å –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã –≤ —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é `f-—Å—Ç—Ä–æ–∫–∏` –∏–ª–∏ –º–µ—Ç–æ–¥–∞ `format()`. –°–∞–º—É —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞–≤–∞—Ç—å –≤–Ω—É—Ç—Ä–∏ —Ü–∏–∫–ª–∞ –Ω–∞ –∫–∞–∂–¥–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏.

</div>

<div class="alert alert-info">
–ü–æ–Ω—è–ª–∞, —Å–ø–∞—Å–∏–±–æ
</div>

# –û—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã

## –°–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞?

In [9]:
query = '''
            SELECT COUNT(book_id) count_of_books
            FROM books 
            WHERE publication_date > '01-01-2000'
        '''
pd.io.sql.read_sql(query, con = engine)

   count_of_books
0             819

–ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ 819 –∫–Ω–∏–≥.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–∞–≤–∏–ª—å–Ω–æ!
    
–û—Ç–º–µ—á—É, —á—Ç–æ —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ `publication_date >= '2000-01-01' ` —Ç–∞–∫–∂–µ –±—ã–ª–æ –±—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º, —Ö–æ—Ç—å –∏ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –¥—Ä—É–≥–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É - –≤ —Ä–µ–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –æ —Ç–æ–º, –≤–∫–ª—é—á–∞–µ—Ç—Å—è –ª–∏ –¥–∞—Ç–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –∏–ª–∏ –Ω–µ—Ç, –≤—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å –∑–∞—Ä–∞–Ω–µ–µ:)

</div>

## –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [10]:

query = '''
            SELECT b.title, rat.avg_rating, rev.review_count
            FROM books b
            LEFT JOIN (SELECT book_id, AVG(rating) avg_rating FROM ratings GROUP BY book_id) rat ON b.book_id=rat.book_id
            LEFT JOIN (SELECT book_id, COUNT(*) review_count FROM reviews GROUP BY book_id) rev ON b.book_id=rev.book_id
        '''
pd.io.sql.read_sql(query, con = engine)

,title,avg_rating,review_count
0,The Body in the Library (Miss Marple #3),4.500000,2.0
1,Gal√°pagos,4.500000,2.0
2,A Tree Grows in Brooklyn,4.250000,5.0
3,Undaunted Courage: The Pioneering First Missio...,4.000000,2.0
4,The Prophet,4.285714,4.0
...,...,...,...
995,Alice in Wonderland,4.230769,4.0
996,A Woman of Substance (Emma Harte Saga #1),5.000000,2.0
997,Christine,3.428571,3.0
998,The Magicians' Guild (Black Magician Trilogy #1),3.500000,2.0
999,The Plot Against America,3.000000,2.0

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ú–µ—Ç—Ä–∏–∫–∏ –¥–ª—è –∫–Ω–∏–≥ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –≤–µ—Ä–Ω–æ! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –º–µ—Ç—Ä–∏–∫–∏ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –∏ –¥–ª—è —Ç–µ—Ö –∫–Ω–∏–≥, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –æ—Ç–∑—ã–≤–æ–≤ - –¥–æ–≤–æ–ª—å–Ω–æ —á–∞—Å—Ç–∞—è –æ—à–∏–±–∫–∞ –≤ —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏:)

</div>

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–î–ª—è –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥ –≤–º–µ—Å—Ç–æ `id` —Å—Ç–æ–∏—Ç –≤—ã–≤–æ–¥–∏—Ç—å –Ω–∞ —ç–∫—Ä–∞–Ω –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏.

<div class="alert alert-info">
–ò—Å–ø—Ä–∞–≤–∏–ª–∞
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

–î–ª—è –±–æ–ª—å—à–∏–Ω—Å—Ç–≤–∞ –∫–Ω–∏–≥ –±—ã–ª–æ –Ω–∞–ø–∏—Å–∞–Ω–æ –Ω–µ—Å–∫–æ–ª—å–∫–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–∏–µ –æ—Ü–µ–Ω–∫–∏ –≤–∞—Ä—å–∏—Ä—É—é—Ç—Å—è.

## –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã

In [11]:
query = '''
            SELECT b.publisher_id, p.publisher, COUNT(*) count_books
            FROM books b
            LEFT JOIN publishers p ON b.publisher_id = p.publisher_id
            WHERE num_pages > 50
            GROUP BY b.publisher_id, p.publisher
            ORDER BY COUNT(*) DESC
            LIMIT 1
        '''
pd.io.sql.read_sql(query, con = engine)

   publisher_id      publisher  count_books
0           212  Penguin Books           42

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ "Penguin Books" –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü. –≠—Ç–æ –æ–∫–æ–ª–æ 4% –æ—Ç –≤—Å–µ—Ö –∫–Ω–∏–≥ –≤ –¥–∞–Ω–Ω—ã—Ö.

–≠—Ç–æ –ë—Ä–∏—Ç–∞–Ω—Å–∫–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –æ—Å–Ω–æ–≤–∞–Ω–Ω–æ–µ –≤ 1935 –≥–æ–¥—É –≤ –õ–æ–Ω–¥–æ–Ω–µ —Å—ç—Ä–æ–º –ê–ª–ª–µ–Ω–æ–º –õ–µ–π–Ω–æ–º –∏ –µ–≥–æ –±—Ä–∞—Ç—å—è–º–∏ –†–∏—á–∞—Ä–¥–æ–º –∏ –î–∂–æ–Ω–æ–º. –ì–ª–∞–≤–Ω–æ–π –∑–∞—Å–ª—É–≥–æ–π –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ —Å—á–∏—Ç–∞—é—Ç –¥–µ–º–æ–∫—Ä–∞—Ç–∏–∑–∞—Ü–∏—é –∫–Ω–∏–∂–Ω–æ–≥–æ —Ä—ã–Ω–∫–∞, –ø—Ä–µ–≤—Ä–∞—Ç–∏–≤—à—É—é –∫–Ω–∏–≥—É –∏–∑ –ø—Ä–µ–¥–º–µ—Ç–∞ —Ä–æ—Å–∫–æ—à–∏ –≤ —É–¥–æ–≤–æ–ª—å—Å—Ç–≤–∏–µ, –¥–æ—Å—Ç—É–ø–Ω–æ–µ –º–∞—Å—Å–∞–º.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–∏–ª–∏ –≤–µ—Ä–Ω–æ! –°–ø–∞—Å–∏–±–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞:)

</div>

## –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [12]:
query = '''
            SELECT a.author, AVG(ratings)
            FROM (
            SELECT book_id, AVG(rating) ratings
            FROM ratings
            GROUP BY book_id
            HAVING COUNT(*) > 50
            ) rat
            JOIN (SELECT book_id, author_id FROM books) b ON rat.book_id=b.book_id
            JOIN (SELECT author_id, author FROM authors) a ON b.author_id=a.author_id
            GROUP BY a.author
            ORDER BY avg(ratings) DESC

            
        '''
pd.io.sql.read_sql(query, con = engine)

                                               author       avg
0                          J.K. Rowling/Mary GrandPr√©  4.283844
1                   Markus Zusak/Cao Xu√¢n Vi·ªát Kh∆∞∆°ng  4.264151
2                                      J.R.R. Tolkien  4.258446
3                                   Louisa May Alcott  4.192308
4                                        Rick Riordan  4.080645
5                                     William Golding  3.901408
6                                       J.D. Salinger  3.825581
7            Paulo Coelho/Alan R. Clarke/√ñzdemir ƒ∞nce  3.789474
8   William Shakespeare/Paul Werstine/Barbara A. M...  3.787879
9                                           Dan Brown  3.754540
10                                         Lois Lowry  3.750000
11            George Orwell/Boris Grabnar/Peter ≈†kerl  3.729730
12                                    Stephenie Meyer  3.662500
13                                     John Steinbeck  3.622951

–ê–≤—Ç–æ—Ä —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π –æ—Ü–µ–Ω–∫–æ–π - –î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥, –∞–≤—Ç–æ—Ä –∫–Ω–∏–≥ –æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–µ. –¢—É—Ç –æ–Ω–∞ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –≤ —Å–æ–∞–≤—Ç–æ—Ä—Å—Ç–≤–µ —Å –∏–ª–ª—é—Å—Ç—Ä–∞—Ç–æ—Ä–æ–º –ú—ç—Ä–∏ –ì—Ä–∞–Ω–ø—Ä—ç.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ê–≤—Ç–æ—Ä —Å —Å–∞–º—ã–º –≤—ã—Å–æ–∫–∏–º —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –Ω–∞–π–¥–µ–Ω –≤–µ—Ä–Ω–æ! –ö–ª–∞—Å—Å–Ω–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω —Å–∞–º —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ - –∏–º–µ–Ω–Ω–æ –≤ –µ–≥–æ —Ä–∞—Å—á—ë—Ç–µ –æ–±—ã—á–Ω–æ –¥–µ–ª–∞—é—Ç –æ—à–∏–±–∫–∏:)

</div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–í –∑–∞–¥–∞–Ω–∏–∏ —Å–∫–∞–∑–∞–Ω–æ, —á—Ç–æ –Ω—É–∂–Ω–æ –Ω–∞–π—Ç–∏ –æ–¥–Ω–æ–≥–æ –∞–≤—Ç–æ—Ä–∞, –ø–æ—ç—Ç–æ–º—É –±—ã–ª–æ –±—ã –ª–æ–≥–∏—á–Ω–µ–µ –æ—Å—Ç–∞–≤–∏—Ç—å –≤ –≤—ã–≤–æ–¥–µ —Ç–æ–ª—å–∫–æ –æ–¥–Ω—É —Å—Ç—Ä–æ–∫—É:)

<div class="alert alert-info">
–ü–æ–Ω—è–ª–∞, —Å–ø–∞—Å–∏–±–æ
</div>

## –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫

In [13]:
query = '''
            SELECT AVG(count_reviews)
            FROM (
            SELECT username, COUNT(*) count_reviews
            FROM reviews
            WHERE username IN
            (
            SELECT username--, COUNT(*)
            FROM ratings
            GROUP BY username
            HAVING COUNT(*) > 48
            )
            GROUP BY username) rev
        

        '''
pd.io.sql.read_sql(query, con = engine)

    avg
0  24.0

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª–µ–µ 48 –æ—Ü–µ–Ω–æ–∫ - 24.
–í–∏–¥–∏–º–æ –ª—é–¥–∏, –∫–æ—Ç–æ—Ä—ã–µ –ª—é–±—è—Ç —á–∏—Ç–∞—Ç—å, —Ç–∞–∫ –∂–µ –ª—é–±—è—Ç –ø–æ–¥–µ–ª–∏—Ç—å—Å—è —Å–≤–æ–∏–º –º–Ω–µ–Ω–∏–µ–º —Å –¥—Ä—É–≥–∏–º–∏ –ª—é–±–∏—Ç–µ–ª—è–º–∏ —á—Ç–µ–Ω–∏—è)

<div class="alert alert-info">
–ò—Å–ø—Ä–∞–≤–∏–ª–∞. –í –ø–∞—á–∫–µ –±—ã–ª–æ 50 –ø–æ—á–µ–º—É-—Ç–æ
</div>

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–≠—Ç–æ –∑–∞–¥–∞–Ω–∏–µ —Å–ø–∏—Å–∞–Ω–æ: –≤ –∞–∫—Ç—É–∞–ª—å–Ω–æ–π –≤–µ—Ä—Å–∏–∏ –∑–∞–¥–∞–Ω–∏—è –≤ —É—Å–ª–æ–≤–∏–∏ —Å–∫–∞–∑–∞–Ω–æ –ø—Ä–æ –±–æ–ª–µ–µ 48 –æ—Ç–∑—ã–≤–æ–≤, —Ç—ã –∏—Å–ø–æ–ª—å–∑—É–µ—à—å —É—Å–ª–æ–≤–∏–µ –±–æ–ª–µ–µ 50 –æ—Ç–∑—ã–≤–æ–≤ –∏–∑ —Å—Ç–∞—Ä–æ–π –≤–µ—Ä—Å–∏–∏ —É—Å–ª–æ–≤–∏–π. –ù—É–∂–Ω–æ –ø–µ—Ä–µ–¥–µ–ª–∞—Ç—å —Å –∞–∫—Ç—É–∞–ª—å–Ω—ã–º —É—Å–ª–æ–≤–∏–µ–º.
    
–î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –∑–∞–¥–∞–Ω–∏—è –¥–ª—è —Ç–µ–±—è:
1. –í—ã–≤–µ–¥–∏ —Ç–∞–±–ª–∏—Ü—É, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å –ø–æ –≥–æ–¥—É –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ (–æ—Ç–æ–±—Ä–∞–∑–∏—Ç—å –Ω—É–∂–Ω–æ —Ç–æ–ª—å–∫–æ —Ç–µ –≥–æ–¥–∞, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –∏–∑–¥–∞–Ω–æ –±–æ–ª–µ–µ 30 –∫–Ω–∏–≥):

- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤,
- –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –∫–Ω–∏–≥ –∏
- —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —Ç—ã—Å—è—á —Å—Ç—Ä–∞–Ω–∏—Ü –±—ã–ª–æ –≤ –∏–∑–¥–∞–Ω–Ω—ã—Ö –∫–Ω–∏–≥–∞—Ö.
2. –í—ã–≤–µ–¥–∏ –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ –¥–≤–∞ —á–∏—Å–ª–∞ ‚Äî —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É —Ç–µ—Ö –∫–Ω–∏–≥, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞–ø–∏—Å–∞–ª–æ –æ—Ç–∑—ã–≤–æ–≤ –±–æ–ª–µ–µ 3 —á–µ–ª–æ–≤–µ–∫ –∏ –æ—Ç–¥–µ–ª—å–Ω–æ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –æ—Å—Ç–∞–ª—å–Ω—ã—Ö –∫–Ω–∏–≥, —Å–¥–µ–ª–∞–π –≤—ã–≤–æ–¥—ã, –∫–∞–∫–æ–π —Ä–µ–π—Ç–∏–Ω–≥ –±–æ–ª—å—à–µ.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

–í—ã–≤–µ–¥–∏ —Ç–∞–±–ª–∏—Ü—É, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç —Å–æ–¥–µ—Ä–∂–∞—Ç—å –ø–æ –≥–æ–¥—É –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ (–æ—Ç–æ–±—Ä–∞–∑–∏—Ç—å –Ω—É–∂–Ω–æ —Ç–æ–ª—å–∫–æ —Ç–µ –≥–æ–¥–∞, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –∏–∑–¥–∞–Ω–æ –±–æ–ª–µ–µ 30 –∫–Ω–∏–≥):
- –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤,
- –≤—ã–ø—É—â–µ–Ω–Ω—ã—Ö –∫–Ω–∏–≥ –∏
- —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —Ç—ã—Å—è—á —Å—Ç—Ä–∞–Ω–∏—Ü –±—ã–ª–æ –≤ –∏–∑–¥–∞–Ω–Ω—ã—Ö –∫–Ω–∏–≥–∞—Ö.

In [14]:
query = '''
            SELECT EXTRACT(YEAR FROM publication_date) years,
            COUNT (DISTINCT publisher_id) publishers, 
            COUNT (book_id) books,
            to_char (SUM (num_pages), '99G999D')  pages
            FROM books 
            GROUP BY 1
            HAVING COUNT (*) > 30
        '''
pd.io.sql.read_sql(query, con = engine)

    years  publishers  books    pages
0  1999.0          26     41   15,763
1  2000.0          35     38   13,328
2  2001.0          41     60   21,758
3  2002.0          62     94   38,597
4  2003.0          65    105   41,423
5  2004.0          88    124   46,779
6  2005.0          89    139   55,967
7  2006.0         109    184   68,302
8  2007.0          38     50   18,258

–í—ã–≤–µ–¥–∏ –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ –¥–≤–∞ —á–∏—Å–ª–∞ ‚Äî —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É —Ç–µ—Ö –∫–Ω–∏–≥, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞–ø–∏—Å–∞–ª–æ –æ—Ç–∑—ã–≤–æ–≤ –±–æ–ª–µ–µ 3 —á–µ–ª–æ–≤–µ–∫ –∏ –æ—Ç–¥–µ–ª—å–Ω–æ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –æ—Å—Ç–∞–ª—å–Ω—ã—Ö –∫–Ω–∏–≥, —Å–¥–µ–ª–∞–π –≤—ã–≤–æ–¥—ã, –∫–∞–∫–æ–π —Ä–µ–π—Ç–∏–Ω–≥ –±–æ–ª—å—à–µ.

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–í —Ü–µ–ª–æ–º –≤–µ—Ä–Ω–æ, –Ω–æ —Å—Ç—Ä–∞–Ω–∏—Ü—ã –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –≤ —Ç—ã—Å—è—á–∞—Ö.

<div class="alert alert-info">
–¢–µ–ø–µ—Ä—å –≤ —Ç—ã—Å—è—á–∞—Ö
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

<div class="alert alert-info">
–¢—É—Ç —è –ø—ã—Ç–∞–ª–∞—Å—å –≤—Å—é –¥–æ—Ä–æ–≥—É, –Ω–µ –∑–Ω–∞—é –∫–∞–∫ –≤—ã–≤–µ—Å—Ç–∏ –¥–≤–∞ —á–∏—Å–ª–∞ –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ. –ü–æ –æ—Ç–¥–µ–ª—å–Ω–æ—Å—Ç–∏ –ø–æ–ª—É—á–∏–ª–æ—Å—å.
–£ –º–µ–Ω—è –µ—â–µ –¥–µ–¥–ª–∞–π–Ω –≤—á–µ—Ä–∞ –±—ã–ª, –Ω–µ –∑–Ω–∞—é —á—Ç–æ –¥–µ–ª–∞—Ç—å. –ö—É—Ä–∞—Ç–æ—Ä –Ω–µ –æ—Ç–≤–µ—á–∞–µ—Ç(
</div>

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–°–µ–≥–æ–¥–Ω—è –µ—â—ë –º–æ–∂–Ω–æ —Å–¥–∞–≤–∞—Ç—å. 
   
–°–∞–º –∑–∞–ø—Ä–æ—Å –≤ —Ü–µ–ª–æ–º –Ω–µ–ø—Ä–∞–≤–∏–ª—å–Ω—ã–π:
1. –û–ø–µ—Ä–∞—Ç–æ—Ä—ã —Å—Ä–∞–≤–Ω–µ–Ω–∏—è –Ω–µ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—Ç —É—Å–ª–æ–≤–∏—é.
2. –ù–µ—Ç –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∏, —á—Ç–æ–±—ã —Ä–∞–±–æ—Ç–∞–ª `HAVING`.
3. –§–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –Ω—É–∂–Ω–æ –Ω–µ —Ä–µ–π—Ç–∏–Ω–≥, –∞ –∫–Ω–∏–≥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –Ω—É–∂–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∑—ã–≤–æ–≤–æ - –ø–æ —ç—Ç–∏–º –∫–Ω–∏–≥–∞–º –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—é –ø—Ä–∏ –æ—Ü–µ–Ω–∫–µ —Å—Ä–µ–¥–Ω–µ–≥–æ —Ä–µ–π—Ç–∏–Ω–≥–∞.

–í—ã–≤–µ–¥–∏ –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ –¥–≤–∞ —á–∏—Å–ª–∞ ‚Äî —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É —Ç–µ—Ö –∫–Ω–∏–≥, –Ω–∞ –∫–æ—Ç–æ—Ä—ã–µ –Ω–∞–ø–∏—Å–∞–ª–æ –æ—Ç–∑—ã–≤–æ–≤ –±–æ–ª–µ–µ 3 —á–µ–ª–æ–≤–µ–∫ –∏ –æ—Ç–¥–µ–ª—å–Ω–æ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É –æ—Å—Ç–∞–ª—å–Ω—ã—Ö –∫–Ω–∏–≥, —Å–¥–µ–ª–∞–π –≤—ã–≤–æ–¥—ã, –∫–∞–∫–æ–π —Ä–µ–π—Ç–∏–Ω–≥ –±–æ–ª—å—à–µ. 
- mean rating
- where COUNT rating_id > 3 
- mean rating  rest books

<div class="alert alert-info">
–°–î–ï–õ–ê–ù–û. –£ –º–µ–Ω—è –Ω–µ—Ç –∏–Ω—Ç–µ—Ä–Ω–µ—Ç–∞, —è –Ω–µ –≤ –†–æ—Å—Å–∏–∏. –ü–æ—ç—Ç–æ–º—É –∑–∞—Ö–æ–∂—É –≤ –ú–∞–∫ –∏ –°—Ç–∞—Ä–±–∞–∫—Å –∫–∞–∂–¥—ã–π —Ä–∞–∑ –¥–ª—è –ø—Ä–∞–≤–æ–∫.
</div>

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ó–∞–ø—Ä–æ—Å —Ç–µ–ø–µ—Ä—å –±–ª–∏–∂–µ –∫ –ø—Ä–∞–≤–¥–µ, –Ω–æ –ø—Ä–∏ –æ—Ü–µ–Ω–∫–µ —Ä–µ–π—Ç–∏–Ω–≥–∞ —Ç—ã –≤ –∏—Ç–æ–≥–æ–≤—É—é —Ç–∞–±–ª–∏—Ü—É —Å—Ä–∞–∑—É –¥–æ–±–∞–≤–ª—è–µ—à—å –∏ —Ä–µ–π—Ç–∏–Ω–≥–∏, –∏ –æ—Ç–∑—ã–≤—ã, –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ —É —Ç–µ–±—è –ø–æ—è–≤–ª—è—é—Ç—Å—è —Å–≤—è–∑–∏ `–º–Ω–æ–≥–∏–µ –∫–æ –º–Ω–æ–≥–∏–º`, –∏ –∑–Ω–∞—á–µ–Ω–∏–µ —Ä–µ–π—Ç–∏–Ω–≥–∞ –Ω–µ–º–Ω–æ–≥–æ —Å–º–µ—â–∞–µ—Ç—Å—è. 
    
–ë–æ–ª–µ–µ –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º –ø–æ–¥—Ö–æ–¥–æ–º –±—ã–ª–æ –±—ã —Å–Ω–∞—á–∞–ª–∞ –Ω–∞–π—Ç–∏ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–æ–æ—Ç–≤–µ—Ç—Å–≤—É—é—Ç —É—Å–ª–æ–≤–∏—é —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –ø—Ä–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ç–∑—ã–≤–æ–≤, –∞ –ø–æ—Ç–æ–º —É–∂–µ —Å—á–∏—Ç–∞—Ç—å —Ä–µ–π—Ç–∏–Ω–≥, –≤—ã–ø–æ–ª–Ω—è—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏—é –ø–æ –Ω—É–∂–Ω—ã–º –∫–Ω–∏–≥–∞–º, –Ω–∞–ø—Ä–∏–º–µ—Ä, —á–µ—Ä–µ–∑ `WHERE` –∏–ª–∏ `INNER JOIN`.

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.4 <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ï—â—ë –Ω–∞ —à–∞–≥ –±–ª–∏–∂–µ –∫ –ø—Ä–∞–≤–¥–µ. –û–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ —Ç—ã –≤—Å—ë –µ—â—ë –≤ –æ–¥–Ω—É –∏ —Ç—É –∂–µ —Ç–∞–±–ª–∏—Ü—É —Å–æ–µ–¥–∏–Ω—è–µ—à—å –∏ —Ä–µ–π—Ç–∏–Ω–≥–∏, –∏ –æ—Ç–∑—ã–≤—ã–≤ - –≤ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–µ —Ç—ã –ø–æ–ª—É—á–∞–µ—à—å –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω–∏–µ —Å—Ç–æ–ª–±—Ü–æ–≤. 
    
–ö–∞–∫ —è –ø–∏—Å–∞–ª —Ä–∞–Ω–µ–µ, —Ç—É—Ç –º–æ–∂–Ω–æ:
- —Å–Ω–∞—á–∞–ª–∞ –æ—Ç–¥–µ–ª—å–Ω—ã–º –∑–∞–ø—Ä–æ—Å–æ–º –Ω–∞–π—Ç–∏ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–º –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –Ω—É–∂–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫;
- –¥–∞–ª–µ–µ –ø—Ä–∏ —Ä–∞—Å—á—ë—Ç–µ —Ä–µ–π—Ç–Ω–≥–∞ —Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å —ç—Ç–∏ –∫–Ω–∏–≥–∏ - –ø—Ä–æ—â–µ —á–µ—Ä–µ–∑ `WHERE`, `INNER JOIN` –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –¥–ª—è —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ –∫–Ω–∏–≥, –Ω–æ –Ω–µ –¥–ª—è —Ä–∞—Å—á—ë—Ç–∞ —Å–∞–º–æ–≥–æ —Ä–µ–π—Ç–∏–Ω–≥–∞ –∏–∑-–∑–∞ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤.
    
–í –∏—Ç–æ–≥–µ —Å–∫–µ–ª–µ—Ç —Ç–≤–æ–µ–≥–æ –∑–∞–ø—Ä–æ—Å–∞ –º–æ–∂–µ—Ç –≤—ã–≥–ª—è–¥–µ—Ç—å —Ç–∞–∫:
    
    WITH true_books AS (
        
        # –∑–¥–µ—Å—å –∑–∞–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π –≤—ã–≤–æ–¥–∏—Ç ID –∫–Ω–∏–≥, —É –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª–µ–µ 3 –æ—Ç–∑—ã–≤–æ–≤
  
        ),
        
    more_3 AS ( --—Ç—É—Ç –∑–∞–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π —Ñ–∏–ª—å—Ç—Ä—É–µ—Ç –∫–Ω–∏–≥–∏ –∏ —Å—á–∏—Ç–∞–µ—Ç —Ä–µ–π—Ç–∏–Ω–≥
       
        ...
        WHERE book_id IN ()
        ),
    less_eq_3 AS ( --—Ç—É—Ç –∑–∞–ø—Ä–æ—Å, –∫–æ—Ç–æ—Ä—ã–π —Ñ–∏–ª—å—Ç—Ä—É–µ—Ç –∫–Ω–∏–≥–∏ –∏ —Å—á–∏—Ç–∞–µ—Ç —Ä–µ–π—Ç–∏–Ω–≥
    
    WHERE book_id NOT IN ()
    )
    
    SELECT * FROM ... --–∏—Ç–æ–≥–æ–≤—ã–π –∑–∞–ø—Ä–æ—Å

query = '''
WITH true_books AS (
        
        SELECT book_id
        FROM books AS b
        INNER JOIN ratings AS rat ON b.book_id = rat.book_id
        INNER JOIN reviews AS rev ON b.book_id = rev.book_id
        GROUP BY b.book_id
        HAVING COUNT(DISTINCT rev.review_id) > 3 
        ORDER BY avg_rating DESC
        ),
        
more_3 AS (
        SELECT ROUND (AVG(rating),3) AS avg_rating
        WHERE book_id IN (
            SELECT book_id
            FROM true_books
        )
        ),
less_eq_3 AS ( 
        SELECT book_id
        FROM books AS b              
        WHERE book_id NOT IN (
            SELECT book_id
            FROM true_books)
    )
    
    SELECT * 
    FROM more_3, less_eq_3;
    
'''
pd.io.sql.read_sql(query, con = engine)

<div class="alert alert-info">
—É –º–µ–Ω—è —É–∫—Ä–∞–ª–∏ –∑–∞—Ä—è–¥–∫—É –æ—Ç –Ω–æ—É—Ç–∞, –≤ –ú–æ—Å–∫–≤–µ —è –±—É–¥—É —Ç–æ–ª—å–∫–æ —á–µ—Ä–µ–∑ 2 –Ω–µ–¥–µ–ª–∏. –Ø –æ—á–µ–Ω—å —É—Å—Ç–∞–ª–∞, –µ—Å–ª–∏ —á–µ—Å—Ç–Ω–æ, –ø—Ä–∞–≤–∏—Ç—å —ç—Ç—É –¥–æ–ø –∑–∞–¥–∞—á—É –≤ 4 —Ä–∞–∑. –∏ –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç–∏ –ø—Ä–æ–¥–æ–ª–∂–∞—Ç—å —ç—Ç–æ —É –º–µ–Ω—è –Ω–µ—Ç.
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.5 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –¢–µ–∫—É—â–∏–π –∑–∞–ø—Ä–æ—Å –Ω–µ –∏—Å–ø–æ–ª–Ω—è–µ—Ç—Å—è, —Ç–∞–∫ –∫–∞–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç –æ—à–∏–±–∫–∏. –ù–∞ —ç—Ç–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏ –º–æ–∂–µ–º –∑–∞–∫–æ–Ω—á–∏—Ç—å - —è —Ä–∞–∑–±–µ—Ä—É —Ä–µ—à–µ–Ω–∏–µ –∑–∞–¥–∞—á–∏, —á—Ç–æ–±—ã –±—ã–ª–æ –ø–æ–Ω—è—Ç–Ω–æ, –∫–∞–∫ –µ—ë —Ä–µ—à–∞—Ç—å. –ù–∏–∂–µ - –º–æ–π –∑–∞–ø—Ä–æ—Å —Å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏.

In [15]:
query = '''

WITH many_rew AS ( --–≤ —ç—Ç–æ–º –±–ª–æ–∫–µ –∑–∞–ø—Ä–æ—Å–∞ many_rew –∏—â–µ–º –∫–Ω–∏–≥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª–µ–µ 3 –æ—Ç–∑—ã–≤–∞
    SELECT 
        book_id,
        COUNT(DISTINCT username) as rews
    FROM reviews
    GROUP BY book_id
    HAVING COUNT(DISTINCT username) > 3
)
SELECT AVG(rating) as rating -- –≤ —ç—Ç–æ–º –±–ª–æ–∫–µ –∑–∞–ø—Ä–æ—Å–∞ —Å—á–∏—Ç–∞–µ–º —Ä–µ–π—Ç–∏–Ω–≥ –æ—Ç–¥–µ–ª—å–Ω–æ –ø–æ –∫–Ω–∏–≥–∞–º, —É –∫–æ—Ç–æ—Ä—ã—Ö –±–æ–ª–µ–µ 3 –æ—Ç–∑—ã–≤–æ–≤
FROM ratings
WHERE ratings.book_id IN (SELECT book_id FROM many_rew)

UNION ALL -- —Å –ø–æ–º–æ—â—å—é UNION ALL —Å–æ–µ–¥–∏–Ω—è–µ–º –¥–≤–∞ —á–∏—Å–ª–∞

SELECT AVG(rating) as rating -- –≤ —ç—Ç–æ–º –±–ª–æ–∫–µ —Å—á—Ç–∏—Ç–∞–µ–º —Ä–µ–π—Ç–∏–Ω–≥ –æ—Ç–¥–µ–ª—å–Ω–æ –ø–æ –∫–Ω–∏–≥–∞–º, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø–æ–ø–∞–ª–∏ –≤ –ø—Ä–µ–¥—ã–¥—É—â–∏–π —Ä–∞—Å—á—ë—Ç
FROM ratings
WHERE ratings.book_id NOT IN (SELECT book_id FROM many_rew)
'''

pd.io.sql.read_sql(query, con = engine)

     rating
0  3.949505
1  3.890375

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ü–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞ —Å—Ç–æ–∏—Ç —Å–¥–µ–ª–∞—Ç—å –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥: –≤ –Ω–µ–≥–æ –º–æ–∂–Ω–æ –≤–∫–ª—é—á–∏—Ç—å –æ—Å–Ω–æ–≤–Ω—ã–µ —à–∞–≥–∏ –ø—Ä–æ–µ–∫—Ç–∞, –∞ —Ç–∞–∫–∂–µ –∫–ª—é—á–µ–≤—ã–µ –≤—ã–≤–æ–¥—ã, –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –≤ —Ö–æ–¥–µ —Ä–∞–±–æ—Ç—ã –Ω–∞–¥ –Ω–∏–º.
        </div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ.

# –û–±—â–∏–π –≤—ã–≤–æ–¥


1. –û–ø–∏—Å–∞–ª–∏ —Ü–µ–ª–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è;
2. –ò—Å—Å–ª–µ–¥–æ–≤–∞–ª–∏ —Ç–∞–±–ª–∏—Ü—ã; 
3. –°–¥–µ–ª–∞–ª–∏ –ø–æ –æ–¥–Ω–æ–º—É SQL-–∑–∞–ø—Ä–æ—Å—É –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è;
- –ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ 819 –∫–Ω–∏–≥
- –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É
- –û–ø—Ä–µ–¥–µ–ª–∏–ª–∏ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü - –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ "Penguin Books" –≤—ã–ø—É—Å—Ç–∏–ª–æ 42 –∫–Ω–∏–≥–∏ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü. –≠—Ç–æ –æ–∫–æ–ª–æ 4% –æ—Ç –≤—Å–µ—Ö –∫–Ω–∏–≥ –≤ –¥–∞–Ω–Ω—ã—Ö.
- –û–ø—Ä–µ–¥–µ–ª–∏–ª–∏ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥, —É—á–∏—Ç—ã–≤–∞—è —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏ - –î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥, –∞–≤—Ç–æ—Ä –∫–Ω–∏–≥ –æ –ì–∞—Ä—Ä–∏ –ü–æ—Ç—Ç–µ—Ä–µ. –¢—É—Ç –æ–Ω–∞ –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∞ –≤ —Å–æ–∞–≤—Ç–æ—Ä—Å—Ç–≤–µ —Å –∏–ª–ª—é—Å—Ç—Ä–∞—Ç–æ—Ä–æ–º –ú—ç—Ä–∏ –ì—Ä–∞–Ω–ø—Ä—ç. 
-  –ü–æ—Å—á–∏—Ç–∞–π–ª–∏ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 48 –æ—Ü–µ–Ω–æ–∫ - 24.
4. –í—ã–≤–µ–ª–∏ —Ä–µ–∑—É–ª—å—Ç–∞—Ç –∫–∞–∂–¥–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞ –≤ —Ç–µ—Ç—Ä–∞–¥–∫–µ;
5. –û–ø–∏—Å–∞–ª–∏ –≤—ã–≤–æ–¥—ã –ø–æ –∫–∞–∂–¥–æ–π –∏–∑ —Ä–µ—à—ë–Ω–Ω—ã—Ö –∑–∞–¥–∞—á.

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ù–∞—Å—Ç—è, –ø—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º.

–ï—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ —É–ª—É—á—à–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞ - –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω–∞—è –º–µ–ª–æ—á—å, –∫–æ—Ç–æ—Ä–∞—è –Ω–µ –∑–∞–π–º—ë—Ç –º–Ω–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏, –Ω–æ —Å–¥–µ–ª–∞–µ—Ç —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç —Å—Ç–∏–ª–∏—Å—Ç–∏—á–µ—Å–∫–∏ –±–æ–ª–µ–µ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–º. –ë—É–¥–µ—Ç –∫–ª–∞—Å—Å–Ω–æ, –µ—Å–ª–∏ —ç—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –≤ —Ç–≤–æ–µ–π —Ä–∞–±–æ—Ç–µ:)
    
–ö –Ω–µ—Å–∫–æ–ª—å–∫–∏–º –∑–∞–¥–∞–Ω–∏—è–º —Å—Ç–æ–∏—Ç –≤–µ—Ä–Ω—É—Ç—å—Å—è - –∫ –Ω–∏–º —è –æ—Å—Ç–∞–≤–∏–ª –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ –∫—Ä–∞—Å–Ω–æ–≥–æ —Ü–≤–µ—Ç–∞ —Å –ø–æ—è—Å–Ω–µ–Ω–∏—è–º–∏ –≤–Ω—É—Ç—Ä–∏. –î—É–º–∞—é, —Ç—ã –±—ã—Å—Ç—Ä–æ —Ä–∞–∑–±–µ—Ä—ë—à—å—Å—è, –≤ —á—ë–º –¥–µ–ª–æ.
    
–¢–∞–∫–∂–µ –Ω—É–∂–Ω–æ —Ä–µ—à–∏—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã–µ –∑–∞–¥–∞–Ω–∏—è.

–ë—É–¥—É —Ä–∞–¥ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –ª—é–±—ã–µ —Ç–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –Ω–∞ –∫–∞–∫–∏–µ-–ª–∏–±–æ –¥—Ä—É–≥–∏–µ, –µ—Å–ª–∏ –æ–Ω–∏ —É —Ç–µ–±—è –∏–º–µ—é—Ç—Å—è - –æ—Å—Ç–∞–≤—å –∏—Ö –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö, –∏ —è –ø–æ—Å—Ç–∞—Ä–∞—é—Å—å –æ—Ç–≤–µ—Ç–∏—Ç—å:)
    
–ñ–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–º —Ä–µ–≤—å—é. –î–æ –≤—Å—Ç—Ä–µ—á–∏:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É v.2.

–ù–∞—Å—Ç—è, –ø—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - –∞–∫—Ç—É–∞–ª—å–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –æ—Ç–º–µ—á–µ–Ω—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏ —Å –º–µ—Ç–∫–æ–π `v.2`.
    
–ñ–¥—É —Ç–µ–±—è —Å–Ω–æ–≤–∞:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É v.3.

–ù–∞—Å—Ç—è, –ø—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - –∞–∫—Ç—É–∞–ª—å–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –æ—Ç–º–µ—á–µ–Ω—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏ —Å –º–µ—Ç–∫–æ–π `v.3`.
    
–ñ–¥—É —Ç–µ–±—è —Å–Ω–æ–≤–∞:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É v.4.

–ù–∞—Å—Ç—è, –ø—Ä–æ–¥–æ–ª–∂–∞–µ–º —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - –∞–∫—Ç—É–∞–ª—å–Ω—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –æ—Ç–º–µ—á–µ–Ω—ã –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏ —Å –º–µ—Ç–∫–æ–π `v.4`.
    
–ñ–¥—É —Ç–µ–±—è —Å–Ω–æ–≤–∞:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É v.5.

–ù–∞—Å—Ç—è, –≤—Å–µ –∑–∞–º–µ—á–∞–Ω–∏—è —É—á—Ç–µ–Ω—ã - –ø—Ä–æ–µ–∫—Ç –ø—Ä–∏–Ω—è—Ç!
    
–°–ø–∞—Å–∏–±–æ –∑–∞ —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º, –∂–µ–ª–∞—é –ø—Ä–∏—è—Ç–Ω–æ–≥–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏—è –≤—ã–ø—É—Å–∫–Ω–æ–≥–æ –º–æ–¥—É–ª—è:)